.px-90px {
  padding-left: 90px !important;
  padding-right: 90px !important;
}

.gap-32px {
  gap: 32px !important;
}

.mt-34px {
  margin-top: 34px !important;
}
.mt-56px {
  margin-top: 56px !important;
}
.mt-68px {
  margin-top: 68px !important;
}

.px-40px {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.py-42px {
  padding-top: 42px !important;
  padding-bottom: 42px !important;
}

.max-w-650px {
  max-width: 650px !important;
}
.min-h-126px {
  min-height: 126px !important;
}
.w-40px {
  width: 40px !important;
}

.rounded-4px {
  border-radius: 4px !important;
}
.rounded-5px {
  border-radius: 5px !important;
}
.rounded-10px {
  border-radius: 10px !important;
}

@for $i from 1 through 128 {
  @if $i % 2 == 0 {
    .fs-#{$i}px {
      font-size: #{$i}px !important;
    }
  }
}
