.fs-22px {
  font-size: 22px !important;
}
.fs-24px {
  font-size: 24px !important;
}
.px-90px {
  padding-left: 90px !important;
  padding-right: 90px !important;
}

.gap-32px {
  gap: 32px !important;
}
