.p-40px {
  padding: 40px !important;
}
.px-90px {
  padding-left: 90px !important;
  padding-right: 90px !important;
}
.pt-32px {
  padding-top: 32px !important;
}

.gap-28px {
  gap: 28px !important;
}
.gap-32px {
  gap: 32px !important;
}

$marginTops: 32, 34, 40, 48, 56, 68, 80;
@each $i in $marginTops {
  .mt-#{$i}px {
    margin-top: #{$i}px !important;
  }
}

.px-40px {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.py-30px {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.py-42px {
  padding-top: 42px !important;
  padding-bottom: 42px !important;
}
.py-74px {
  padding-top: 74px !important;
  padding-bottom: 74px !important;
}

.max-w-650px {
  max-width: 650px !important;
}
.min-h-126px {
  min-height: 126px !important;
}
.min-h-200px {
  min-height: 200px !important;
}
.min-h-360px {
  min-height: 360px !important;
}
.min-h-540px {
  min-height: 540px !important;
}
.min-h-800px {
  min-height: 800px !important;
}
.min-h-700px {
  min-height: 700px !important;
}
.min-w-129px {
  min-width: 129px !important;
}
.min-w-lg-640px {
  @media (min-width: 1024px) {
    min-width: 640px !important;
  }
}
.w-40px {
  width: 40px !important;
}

.rounded-4px {
  border-radius: 4px !important;
}
.rounded-5px {
  border-radius: 5px !important;
}
.rounded-10px {
  border-radius: 10px !important;
}

@for $i from 1 through 128 {
  @if $i % 2 == 0 {
    .fs-#{$i}px {
      font-size: #{$i}px !important;
    }
  }
}
